/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Style global */
body {
    line-height: 1.6;
    background-image: url('../images/code-binaire.png');
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    opacity: 0;
    transform: translateY(10px);
    /* Décalage initial vers le bas */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;
}

.container.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Style pour l'effet de texte */
.typing-effect {
    height: 183px;
    margin-left: 100px;
    font-weight: bold;
    white-space: nowrap;
    /* Empêche la coupure de ligne */
    overflow: hidden;
    /* Cache le texte en dehors du conteneur */
    border-right: 2px solid #333;

    /* Style pour H1 et H2 */
    h1,
    h2 {
        white-space: normal;
        /* Autorise les retours à la ligne automatiques */
        word-wrap: break-word;
        /* Coupe les mots si nécessaire */
        overflow: visible;
        /* Permet au texte de s'adapter sans être coupé */
        margin: 10px auto;
        /* Espace entre les titres et centrage */
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }
}

/* Responsive pour les petits écrans */
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
        /* Réduction de la taille de la police sur mobile */
    }

    h2 {
        font-size: 20px;
        /* Réduction de la taille de la police sur mobile */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 22px;
        /* Encore plus petit pour les très petits écrans */
    }

    h2 {
        font-size: 18px;
    }
}

.container-photo {
    opacity: 0;
    transform: translateY(10px);
    /* Décalage initial vers le bas */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;
}

.container-photo.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Style de la photo de profil */
.profile-photo {
    
    width: 20vw;
    /* Taille de l'image relative à la largeur de l'écran */
    max-width: 500px;
    /* Taille maximale pour les grands écrans */
    height: auto;
    border-radius: 50%;
    /* Bordure arrondie pour effet circulaire */
    position: absolute;
    /* Positionne l'image en haut à gauche */
    top: 20px;
    /* Espace depuis le haut de la fenêtre */
    left: 20px;
    /* Espace depuis la gauche de la fenêtre */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    /* Ombre pour effet de relief */
    translate: 0.3s ease;
}



/* Media query pour écrans plus petits (tablettes et téléphones) */
@media (max-width: 768px) {
    .profile-photo {
        width: 30vw;
        /* Taille ajustée pour les écrans plus petits */
        max-width: 100px;
        /* Taille maximale pour les écrans mobiles */
        top: 10px;
        left: 10px;
    }
}

/* Media query pour très petits écrans (téléphones en mode portrait) */
@media (max-width: 480px) {
    .profile-photo {
        width: 35vw;
        /* Taille encore plus petite pour les petits écrans */
        max-width: 80px;
        /* Limite de la taille de l'image */
        top: 5px;
        left: 5px;
    }
}

.cv-photo {
    margin-top: 20px;
    margin-left: 30px;
    /* Taille de l'image relative à la largeur de l'écran */
    width: 5vw;
    height: 6vw;
    /* Taille maximale pour les grands écrans */
    max-width: 500px;
}


/* Section d'accueil */
header {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    padding: 100px 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #333;
    background-color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.button:hover {
    background-color: #f4f4f4;
}

/* Section Qui suis-je */
#description {
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#description .container {
    max-width: 800px;
    margin: 0 auto;
}

#description h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#description p {
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.8;
}

/* Style de la liste des technologies */
#description ul {
    list-style-type: none;
    /* Retire les puces */
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

#description ul li {
    font-size: 1rem;
    color: #333;
    background-color: #eaeaea;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

}

#description ul li a {
    text-decoration: none;
    color: #333;
}

#description ul li:hover {
    background-color: #0000002a;
    color: #fff;
    cursor: pointer;
    border: #f4f4f4 solid 2px;

    a {
        color: #fff;
    }
}

/* Adaptation pour écrans plus petits */
@media (max-width: 600px) {
    #description ul {
        flex-direction: column;
        gap: 10px;
    }
}

/* Section Projets */
#projets {
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
}

#projets h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    background-color: rgb(255, 255, 255, 0.9);
    padding: 20px;
    margin: 10px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.project:hover {
    background-color: #0000002a;
    color: rgb(255, 255, 255);
    border: #f4f4f4 solid 2px;

    /* cursor: pointer; */
    h3 {
        color: rgb(51, 51, 51, 0);
    }

    p {
        color: rgb(102, 102, 102, 0);
    }

    a {
        color: #fff;
    }
}

.project h3 {
    font-size: 1.5rem;
    color: #333;
}

.project p {
    font-size: 1rem;
    color: #666;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    color: rgb(255, 255, 255, 0);
    text-decoration: none;
    font-weight: bold;
}

/* Section Liens-top */
#Liens-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: rgb(51, 51, 51, 0.8); */
}

.photo-github-top {
    width: 4vw;
    /* Taille de l'image relative à la largeur de l'écran */
    max-width: 30px;
    /* Taille maximale pour les grands écrans */
    height: auto;
    margin-top: 20px;
    margin-right: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Ombre pour effet de relief */
}

.photo-gitea-top {
    width: 4vw;
    /* Taille de l'image relative à la largeur de l'écran */
    max-width: 30px;
    /* Taille maximale pour les grands écrans */
    height: auto;
    margin-top: 20px;
    margin-right: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Ombre pour effet de relief */
}

/* Section Contact */
#contact {
    padding: 50px 20px;
    background-color: rgb(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#contact p {
    margin-bottom: 20px;
    font-size: 1.1rem;
}

#contact a {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.1rem;
    text-decoration: none;
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f4f4f4;
}

#Liens-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #222;
}

.Liens a {
    color: #fff;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 1.1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.photo-github-bottom {
    width: 3vw;
    /* Taille de l'image relative à la largeur de l'écran */
    max-width: 20px;
    /* Taille maximale pour les grands écrans */
    height: auto;
    margin-top: 20px;
    margin-right: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Ombre pour effet de relief */
}

.photo-gitea-bottom {
    width: 4vw;
    /* Taille de l'image relative à la largeur de l'écran */
    max-width: 30px;
    /* Taille maximale pour les grands écrans */
    height: auto;
    margin-top: 20px;
    margin-right: 5px;
    /* Espace depuis le haut de la fenêtre */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Ombre pour effet de relief */
}

/* Pied de page */
footer {
    padding: 20px;
    text-align: center;
    background-color: #222;
    color: #fff;
    font-size: 0.9rem;
}